<div id="<%= dom_id notification %>">
  <p>
    <strong>Church:</strong>
    <%= notification.church_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= notification.title %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= notification.message %>
  </p>

  <p>
    <strong>Notification type:</strong>
    <%= notification.notification_type %>
  </p>

</div>
