<p style="color: green"><%= notice %></p>

<%= render @memberchip %>

<div>
  <%= link_to "Edit this memberchip", edit_memberchip_path(@memberchip) %> |
  <%= link_to "Back to memberchips", memberchips_path %>

  <%= button_to "Destroy this memberchip", @memberchip, method: :delete %>
</div>
